/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 * 123= require_tree .
 */
/* line 16, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
.customer {
  float: right;
  margin: -0.25em 0.1em;
}

/* line 21, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
.bold {
  font-weight: bold;
}

/* line 25, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
.customer_shopping_list {
  margin: -0.25em 0.1em;
}

/* line 30, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
.top_line {
  background: #9c9;
}

/* line 35, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
.list_line_odd {
  background: #cfc;
}

/* line 39, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
.list_line_even {
  background: #afa;
}

/* line 43, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
.right_justify {
  text-align: right;
}

/* line 47, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
.list_image {
  width: 100px;
  height: 63px;
}

/* line 52, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
#banner {
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times new Roman", serif;
  color: #282;
  text-align: center;
}
/* line 61, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
#banner img {
  float: left;
}

/* line 66, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

/* line 75, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
#columns {
  background: #141;
}
/* line 79, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
#columns #lside ul {
  padding: 0;
}
/* line 81, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
#columns #lside ul li {
  list-style: none;
}
/* line 83, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
#columns #lside ul li a, #columns #lside ul li p {
  color: #bfb;
  font-size: medium;
}
/* line 90, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
#columns #lside p {
  color: #bfb;
}
/* line 96, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
#columns #main {
  background: white;
  padding: 1em;
}
/* line 102, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
#columns #rside ul {
  padding: 0;
}
/* line 104, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
#columns #rside ul li {
  list-style: none;
}
/* line 106, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
#columns #rside ul li a, #columns #rside ul li p {
  color: #bfb;
  font-size: medium;
}
/* line 113, /home/ken/Documents/AptanaTechMuse/online_shopping_001/app/assets/stylesheets/application.css.scss */
#columns #rside p {
  color: #bfb;
}
