<h1>Editing Customer</h1>
<!-- <%= "Cur customer = #{session[:customer_id]}" %>
<%= "Req customer = #{params[:id]}" %> -->
<%= render 'form' %>

<%= link_to 'Return to Shopping', store_index_path %>

