/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$tm_bgcolor:          White;     // #141, White, LemonChiffon 
$tm_text:             Blue;       // #000, Navy

$tm_banner_color:     Blue;       // #282
$tm_banner_bgcolor:   #B8E8F0;     // #9c9

$tm_grd_top_line:     #B8E8F0;    // Khaki
$tm_grd_hdr:          Coral;      // #afa - the Category header lines
$tm_grd_ll_odd:       $tm_bgcolor;   // #afa - Moccasin
$tm_grd_ll_even:      #A0A0FF;    // #cfc
$tm_grd_btm_line:     IndianRed;  // Khaki

$tm_ntc_bgcolor:      #f0f0f0;
$tm_ntc_bdrcolor:     Red;

$tm_input_fields:     #B8E8F0;    // Khaki
$tm_table_color:      #000;

$tm_item_hover_bg:    Yellow;
$tm_line_hover:       #cccc00;

html, body {
  height: 100%;
  margin: 0;
  background: $tm_bgcolor;
}

field_set {
  border-width: 6px;
}

input[type='button'], input[type='submit'], select {
  font-family: "Arial"; // Courier, Arial
}

.customer {
  float: right;
  margin: -0.25em 0.1em;
}

.bold {
  font-weight: bold;
}

.customer_shopping_list {
  //float: left;
  margin: -0.25em 0.1em;
}

.button_font {
  font-family: "Courier"
}

.food_features {
  //float: left;
  margin: -0.25em 0.1em;
  font-size: medium;
  color: $tm_text;
}

.show_product_images {
  //float: left;
  margin: -0.25em 0.1em;
}

.top_line {
  background: $tm_grd_top_line;
}

.hdr_line {
  background: $tm_grd_hdr;
  font-size: large;
}

.bottom_line {
  background: $tm_grd_btm_line;   //Khaki;
}

.list_line_odd {
  background: $tm_grd_ll_odd;
}

.list_line_even {
  background: $tm_grd_ll_even;
}

.right_justify {
  text-align: right;
}

.left_justify {
  text-align: left;
}

.center {
  text-align: center;
}

.list_image {
  // width:  100px;
  // height: 63px;
}

.line_hover {}

#banner {
  background: $tm_banner_bgcolor;
  padding: 10px;
  border-bottom: 1px solid blue;
  font: small-caps 40px/40px "Times new Roman", serif;
  color: $tm_banner_color;
  text-align: center;
  
  img {
    float: left;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid $tm_ntc_bdrcolor;
  padding: 1em;
  margin-bottom: 2em;
  background-color: $tm_ntc_bgcolor;
  font: bold smaller sans-serif;
}

#columns {
  min-height: 500%; 
  background: $tm_bgcolor; // #141
  .top {
    vertical-align: top;
  }
  
  .search_value {
    width: 120px; background-color: $tm_input_fields;
  }
  
  .shopping_list_text {
    width: 120px; background-color: $tm_input_fields;
  }
  .shopping_list_button {
    background-color: $tm_input_fields;
  }
    
  table {
    border-collapse: collapse;
    td, th { padding: 3px; }
  }
  
  #lside {
    width: 200px;
    color: $tm_text;    // #bfb
    ul {
      padding: 0;
      li {
        list-style: none;
        margin-bottom: 5px;
        a, p {
          color: $tm_text;    // #bfb
          font-size: medium;
        }
        a:hover {
          background: $tm_item_hover_bg;
        }
      }
    }
    
    p {
      color: $tm_text;  // #bfb
    }

  }

  #main {
    .short_brand_descr {
      width: 20em; 
      // display: inline-block; 
      // white-space: nowrap; 
      // overflow-x: hidden;
      // vertical-align: center;
    }
    
    background: $tm_bgcolor;  // Khaki
    padding: 0em;
    
    h2 {
      margin-top: 2px; 
      margin-bottom: 5px;
      color: $tm_text;
      font: small-caps 20px/20px "Times new Roman", serif;
      font-weight: bold;
    }
    
    table {
      margin-bottom: 5px;  
      color: $tm_text;
      tr:hover.line_hover {
        background: $tm_line_hover;
      }
      a {
        color: $tm_text;
      }
        a:hover {
          background: $tm_item_hover_bg;
        }
    }
    
  }
  
  #rside {
    // <fieldset style="border: solid; color: #bfb; padding: 0.5em;">
      // <legend style="font-size: medium;">Your Shopping Lists</legend>
    fieldset {
      border: solid;
      color: $tm_text;    // #bfb
      padding: 1em;
      table {
        margin-bottom: 5px;  
        color: $tm_text;    
        tr:hover.line_hover {
          background: $tm_line_hover;
        }
        a {
          color: $tm_text;
        }
        a:hover {
          background: $tm_item_hover_bg;
        }
      }
    }
    legend {
      font-size: medium;
    }
    
    .qty_update {
      width: 40px; 
      text-align: right;
    }
    
    // table {
      // color: $tm_table_color;   //#000;
    // }
    
    ul {
      padding: 0;
      li {
        list-style: none;
        a, p {
          color: $tm_text;    // #bfb
          font-size: medium;
        }
      }
    }
    
    p {
      color: $tm_text;  // #bfb
    }
  }
}
