/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  height: 100%;
  margin: 0;
}

#columns {
  min-height: 500%; 
}
      
// html { 
  // background: url(scratchpad2.jpg) no-repeat center center fixed; 
  // // -webkit-background-size: cover;
  // // -moz-background-size: cover;
  // // -o-background-size: cover;
  // background-size: cover;
// }

.customer {
  float: right;
  margin: -0.25em 0.1em;
}

.bold {
  font-weight: bold;
}

.customer_shopping_list {
  //float: left;
  margin: -0.25em 0.1em;
}

.show_product_images {
  //float: left;
  margin: -0.25em 0.1em;
}

.top_line {
  background: #9c9;
}

.bottom_line {
  background: Khaki;
}

.list_line_odd {
  background: #cfc;
}

.list_line_even {
  background: #afa;
}

.right_justify {
  text-align: right;
}

.left_justify {
  text-align: left;
}

.center {
  text-align: center;
}

.list_image {
  // width:  100px;
  // height: 63px;
}

#banner {
  background: #9c9;
  //background: yellow;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times new Roman", serif;
  color: #282;
  text-align: center;
  
  img {
    float: left;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  background: #141; // #141
  .top {
    vertical-align: top;
  }
  
  .search_value {
    width: 120px; background-color: Khaki;
  }
  
  .shopping_list_text {
    width: 120px; background-color: Khaki;
  }
  .shopping_list_button {
    background-color: Khaki;
  }
    
  table {
    border-collapse: collapse;
    td, th { padding: 3px; }
  }
  
  #lside {
    width: 150px;
    ul {
      padding: 0;
      li {
        list-style: none;
        a, p {
          color: #bfb;
          font-size: medium;
        }
      }
    }
    
    p {
      color: #bfb;
    }

  }

  #main {
    .short_brand_descr {
      width: 20em; 
      // display: inline-block; 
      // white-space: nowrap; 
      // overflow-x: hidden;
      // vertical-align: center;
    }
    
    background: Khaki;
    padding: 1em;
  }
  
  #rside {
    // <fieldset style="border: solid; color: #bfb; padding: 0.5em;">
      // <legend style="font-size: medium;">Your Shopping Lists</legend>
    fieldset {
      border: solid;
      color: #bfb;
      padding: 1em;
    }
    legend {
      font-size: medium;
    }
    
    .qty_update {
      width: 40px; 
      text-align: right;
    }
    
    table {
      color: #000;
    }
    
    ul {
      padding: 0;
      li {
        list-style: none;
        a, p {
          color: #bfb;
          font-size: medium;
        }
      }
    }
    
    p {
      color: #bfb;
    }
  }
}
